.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(4px);
}

.logo {
  font-size: 36px;
  font-family: "Yuji Hentaigana Akari", cursive;
  align-self: center;
  animation: fadeIn 1200ms;
}

.menu-toggle {
  align-self: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle i {
  font-size: 1.6rem;
}

.mainMenu {
  display: flex;
  list-style: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6e5afd;
  transition: top 0.5s ease;
}

.mainMenu.open {
  top: 0;
}

.mainMenu .closeMenu {
  font-size: 2rem;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fffdf9;
  cursor: pointer;
}

.mainMenu li a {
  display: inline-block;
  padding: 24px;
  font-size: 1.4rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #fffdf9;
}

.mainMenu li a:hover {
  font-size: 1.425rem;
  color: #fd6e5a;
}

.openMenu {
  font-size: 1.6rem;
  margin: 20px;
  display: block;
  cursor: pointer;
}

.icons i {
  font-size: 2.4rem;
  display: inline-block;
  cursor: pointer;
  color: #fffdf9;
  margin: 16px;
  padding-top: 32px;
}

.icons i:hover {
  color: #fd6e5a;
}
