.card {
  height: 176px;
  width: 278px;
  margin-bottom: 64px;
  align-self: center;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 1800ms; /* Adjust the duration as needed */
  animation-fill-mode: forwards;
}

@media screen and (min-width: 768px) {
  .card {
    margin-right: 40px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card_image {
  border-radius: 6px;
  background-color: #333;
  height: 176px;
  object-fit: contain;
}

.card_title {
  position: absolute;
  bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #6e5afd;
  border-radius: 6px;
  padding: 8px 24px;
  margin-left: 36px;
  color: #fffdf9;
  backdrop-filter: blur(10px);
}

.card_title > i {
  font-size: 10px;
  margin-left: 8px;
  color: #fd6e5a;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.custom-arrow-left {
  left: -10px;
}

.custom-arrow-right {
  right: -10px;
}

.custom-arrow svg {
  width: 36px;
  height: 36px;
  fill: #fd6e5a; /* Set the fill to transparent */
  /* stroke: #fd6e5a; /* Set the stroke color to purple */
  /* stroke-width: 0.5px; Adjust the stroke width as needed */
}

.carousel_card {
  border: solid 1px #6e5afd;
  height: 176px;
  width: 278px;
  border-radius: 6px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  background-color: #333;
  color: #fffdf9;
}

.carousel_card > h2 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.carousel_card p {
  font-size: 14px;
  padding: 12px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.carousel_card .links {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.links_project {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.links_github {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.links_project:hover,
.links_github:hover {
  color: #6e5afd;
}

.links a i {
  font-size: 12px;
  margin-left: 6px;
  color: #fd6e5a;
}
