.card {
  height: 176px;
  width: 278px;
  margin-bottom: 64px;
  align-self: center;
  position: relative;
  animation-name: fadeIn;
  animation-duration: 1800ms; /* Adjust the duration as needed */
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card_image {
  border-radius: 6px;
  background-color: #333;
  height: 176px;
  object-fit: contain;
}

.card_title {
  position: absolute;
  bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #6e5afd;
  border-radius: 6px;
  padding: 8px 24px;
  margin-left: 36px;
  color: #fffdf9;
  backdrop-filter: blur(10px);
}

.card_title > i {
  font-size: 10px;
  margin-left: 8px;
  color: #fd6e5a;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.custom-arrow-left {
  left: -10px;
}

.custom-arrow-right {
  right: -10px;
}

.custom-arrow svg {
  width: 36px;
  height: 36px;
  fill: #fd6e5a; /* Set the fill to transparent */
  /* stroke: #fd6e5a; /* Set the stroke color to purple */
  /* stroke-width: 0.5px; Adjust the stroke width as needed */
}
