@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@300;400;500;700&family=Yuji+Hentaigana+Akari&display=swap");

@import "./header/header.css";
@import "./hero/hero.css";
@import "./skills/skills.css";
@import "./portfolio/portfolio.css";
@import "./card/card.css";
@import "./contact/contact.css";
@import "./footer/footer.css";

* {
  all: unset;
  display: revert;
}

*:where(:not(iframe, canvas, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: #fffdf9;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* media queries */
@media screen and (min-width: 768px) {
  .header {
    padding: 40px;
  }
  .hero_top {
    padding: 0 48px;
    margin-top: 48px;
  }
  .hero_hello {
    font-size: 28px;
  }
  .hero_title {
    font-size: 36px;
  }
  .hero_intro {
    font-size: 22px;
  }
  .hero_btn {
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: -40px;
    z-index: 99;
  }
  .skills {
    padding: 0 48px;
    margin-top: -40px;
  }
  .skills_title {
    font-size: 48px;
  }
  .skills_box_bottom p {
    font-size: 20px;
  }
  .skills_box_title {
    font-size: 36px;
  }
  .portfolio {
    padding: 0 48px;
  }
  .portfolio_title {
    font-size: 48px;
  }
  .portfolio_nav {
    font-size: 18px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
  }
  .contact {
    margin: 50px 40px;
  }
  .contact_title {
    font-size: 48px;
    text-align: center;
  }
  .contact_text {
    font-size: 22px;
    text-align: center;
  }
  .email_link {
    margin-top: 60px;
    font-size: 22px;
  }
  .social {
    width: 250px;
  }
  .social img {
    height: 50px;
    width: 50px;
  }
  .copyright {
    font-size: 16px;
  }
  .mainMenu li a {
    font-size: 1.8rem;
  }
  .icons i {
    font-size: 3rem;
  }
}

@media screen and (min-width: 998px) {
  .header {
    padding: 20px 39px;
  }

  .header.scrolled {
    border-bottom: 0;
    background-color: #333;
    color: #fffdf9;
    transition: all 0.3s ease-in-out;
  }

  .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 1px;
    background-color: rgba(
      0,
      0,
      0,
      0.2
    ); /* Set the border color with slight opacity */
    transition: opacity 0.3s ease; /* Add transition for opacity */
  }

  .header.scrolled::after {
    opacity: 0; /* Hide the pseudo-element when header is scrolled */
  }

  .menu-toggle {
    display: none; /* Hide the toggle menu button on larger screens */
  }

  .mainMenu {
    height: auto;
    width: auto;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: transparent;
  }

  .mainMenu li {
    margin-right: 20px;
  }

  .mainMenu li a {
    color: #888;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: color 0.5s ease, border-bottom 0.3s ease-in;
    text-transform: none;
    padding-bottom: 12px;
  }

  .scrolled .mainMenu li a {
    color: #fffdf9;
  }

  .mainMenu li a:hover {
    font-size: 16px;
    color: #fd6e5a;
    border-bottom: 1px solid #fd6e5a;
    padding-bottom: 11px;
  }

  .icons {
    display: none; /* Hide the icons on larger screens */
  }

  /* HERO */
  .hero {
    justify-content: center;
    align-items: center;
    margin: auto 150px;
  }
  .hero_top {
    padding: 80px 48px 40px 48px;
    margin-top: 48px;
    text-align: center;
  }
  .hero_line {
    width: 48px;
    height: 1px;
    background-color: #333;
  }
  .hero_hello {
    font-size: 28px;
    font-weight: 300;
  }
  .hero_title {
    font-size: 46px;
  }
  .hero_intro {
    font-size: 18px;
    font-weight: 300;
    margin-top: 34px;
    margin-bottom: 45px;
    margin: auto 175px;
  }
  .underline::before {
    display: none;
  }
  .underline--small:before {
    display: none;
  }

  /* ICONS */
  .hero_icons {
    font-size: 80px;
    transition: opacity 1.5s ease;
  }

  .fa-react {
    color: #4237d5;
    position: fixed;
    top: 400px;
    left: 180px;
    opacity: 1;
    font-size: 130px;
  }

  .fa-square-js {
    color: #f4c456;
    position: fixed;
    top: 250px;
    right: 120px;
    opacity: 1;
    font-size: 100px;
  }

  .fa-css3-alt {
    color: #e95a3a;
    position: fixed;
    top: 600px;
    right: 220px;
    opacity: 1;
  }

  .hero_icons.fade-out {
    opacity: 0;
  }

  /* BUTTON */
  .hero_btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    z-index: 99;
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .hero_btn:hover {
    background-color: #fffdf9;
    color: #6e5afd;
    border: 1px solid #6e5afd;
    cursor: pointer;
  }

  .hero_image_container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    border-radius: 50%;
    overflow: hidden;
  }

  .hero_image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  /* SKILLS */
  .skills_title {
    font-size: 46px;
    margin: 120px auto;
  }
  .skills {
    padding: auto 150px;
    margin: auto 250px;
  }
  .skills_box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .skills_title {
    margin-bottom: 60px;
  }
  .skills_box_top {
    padding: 32px;
  }
  .skills_box_top h2 {
    font-size: 24px;
    padding-top: 18px;
  }
  .skills_box_bottom p {
    font-size: 16px;
  }
  .skills_box--individual:not(:last-child) {
    border-right: 1px solid #e9e2d6;
  }

  /* PORTFOLIO */
  .portfolio_title {
    margin: 50px auto;
    padding-top: 80px;
  }
  .portfolio_nav {
    font-size: 18px;
    margin-left: 250px;
    margin-right: 250px;
  }
  .portfolio_nav ul li {
    cursor: pointer;
  }
  .card {
    width: 478px;
    margin: 80px;
  }
  .card:not(:last-child) {
    margin-top: auto;
  }
  .card_image {
    height: auto;
    object-fit: contain;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .card_title {
    bottom: 30px;
    font-size: 18px;
    padding: 8px 24px;
    margin-left: 40px;
  }

  .card_title > i {
    font-size: 16px;
    margin-left: 16px;
    color: #fd6e5a;
    cursor: pointer;
  }

  .custom-arrow {
    top: 65%;
  }

  .custom-arrow-left {
    left: -70px;
  }

  .custom-arrow-right {
    right: -70px;
  }

  .custom-arrow svg {
    width: 64px;
    height: 64px;
    fill: transparent; /* Set the fill to transparent */
    stroke: #fd6e5a; /* Set the stroke color to purple */
    stroke-width: 0.3px;
  }

  .custom-arrow svg:hover {
    width: 64px;
    height: 64px;
    fill: #fd6e5a;
  }

  .carousel_card {
    height: 232px;
    padding: 24px;
  }

  .carousel_card > h2 {
    font-size: 18px;
  }

  .carousel_card p {
    font-size: 16px;
  }

  .carousel_card .links {
    font-size: 14px;
  }

  .links_project:hover,
  .links_github:hover {
    color: #fd6e5a;
  }

  /* CONTACT */
  .contact {
    margin: 150px 20px;
  }

  .contact_title {
    font-size: 46px;
    margin-bottom: 20px;
  }

  .contact_text {
    margin: 20px 0;
    font-size: 18px;
    line-height: 24px;
  }
  .email_link {
    padding-top: 10px;
  }

  /* FOOTER */
  .footer {
    background-color: #333;
  }

  .social i:hover {
    color: #fd6e5a;
    cursor: pointer;
  }

  .social i {
    font-size: 48px;
    color: #fffdf9;
    padding-top: 40px;
  }

  .copyright {
    color: #fffdf9;
  }
}
