@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@300;400;500;700&family=Yuji+Hentaigana+Akari&display=swap");

@import "./header/header.css";
@import "./hero/hero.css";
@import "./skills/skills.css";
@import "./portfolio/portfolio.css";
@import "./card/card.css";

* {
  all: unset;
  display: revert;
}

*:where(:not(iframe, canvas, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: #fffdf9;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
