.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.social {
  display: flex;
  width: 148px;
  justify-content: space-between;
}

.social img {
  height: 30px;
  width: 30px;
}

.copyright {
  padding-top: 24px;
}
